<div class="container" style="margin-top: 20px">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form class="form-horizontal" (ngSubmit)="onSubmit()" #form="ngForm">
      <!-- <form class="form-horizontal" (ngSubmit)="onSubmit(form)" #form="ngForm"> -->
      <!-- <form class="form-horizontal" (ngSubmit)="onSubmit(form)" #form> -->
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input
                type="email"
                class="form-control"
                id="inputEmail"
                placeholder="Email"
                ngModel
                name="inputEmail"
                required
                email
                #email="ngModel">
              <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
            </div>
          </div>
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                  <label for="subscriptions">Choose subscription</label>
                  <div class="col-sm-10"></div>
                    <select
                      id="subscriptions"
                      class="form-control"
                      [ngModel]="defaultSubscription"
                      name="subscriptions"
                    >
                      <option value="Basic">Basic</option>
                      <option value="Advanced" selected>Advanced</option>
                      <option value="Pro">Pro</option>
                    </select>
                  </div>
              </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input
                type="password"
                class="form-control"
                id="inputPassword"
                placeholder="Password"
                ngModel
                name="inputPassword"
                required
                #password="ngModel"
              >
              <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a valid password!</span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button
                type="submit"
                class="btn btn-default"
                [disabled]="!form.valid">Sign in</button>
            </div>
          </div>
        </form>
    </div>
  </div>
  <div class="row" *ngIf="submited">
    <div class="col-xs-12">
      <h2>Form data: </h2>
      <p>User email: {{ user.inputEmail }}</p>
      <p>User subscriptions: {{  user.subscriptions }}</p>
      <p>User inputPassword: {{ user.inputPassword }}</p>
    </div>
  </div>
</div>
